@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot') format('eot'),
         url('../fonts/Vazir.ttf')  format('truetype'), 
         url('../fonts/Vazir.woff') format('woff')
         url('../fonts/Vazir.woff2') format('woff')
            
}

body{
     font-family:'Vazir','tahoma','ubuntu' ;
     -ms-overflow-style: none !important;
     scrollbar-width: none !important;
}
.Toastify__toast-body {
    font-family : 'Vazir' , Tahoma !important ;
    font-size: .85rem;
    font-weight: bold;
}
