*{
    box-sizing: border-box;
    /* padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    text-decoration: none !important; 
    font-size: calc(8px + 1vmin) !important;*/
}

body{
    background-color: #0a1045;
}

input[type="search"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder{
    color: #44475a !important;
    font-size: 12px;
}
input[type="search"] {
    color: #44475a ;
    font-size: 13px;
    font-weight: normal;
    
}
